{% extends "base.html" %}

{% block title %}Our Team{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container-fluid content">
        <!-- Data -->
        <h1 class="display-6">Data</h1>
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="portrait" src="{{url_for('static',
                filename='graphics/portraits/Ademolu-Odeneye_Ife.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait" src="{{url_for('static',
                filename='graphics/portraits/Atia_Dina.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait" src="{{url_for('static',
                filename='graphics/portraits/Chen_Susanna.jpeg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait" src="{{url_for('static',
                filename='graphics/portraits/Gallegos_Maritza.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="portrait rotate-90" src="{{url_for('static',
                filename='graphics/portraits/Murray_Keith.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait" src="{{url_for('static',
                filename='graphics/portraits/Tran_Felix.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait" src="{{url_for('static',
                filename='graphics/portraits/Yen_Derek.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rotate-neg-90" src="{{url_for('static',
                filename='graphics/portraits/Zhi_Sophia.jpg')}}" />
            </div>
        </div>
        <!-- Analysis -->
        <h1 class="display-6">Analysis</h1>
        <div class="row justify-content-center">
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
        </div>
        <!-- Deployment -->
        <h1 class="display-6">Deployment</h1>
        <div class="row justify-content-center">
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
{% endblock %}
