{% extends "base.html" %}

{% block title %}Team{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container-fluid content">
        <!-- Data -->
        <h1 class="display-6">Data</h1>
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Ademolu-Odeneye_Ife_Square.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Atia_Dina_Square.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Chen_Susanna_Square.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Gallegos_Maritza_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <span>Ife Ademolu-Odeneye<br>Web Acquisition Specialist</span>
            </div>
            <div class="col-3">
                <span>Dina Atia<br>HathiTrust Specialist</span>
            </div>
            <div class="col-3">
                <span>Susanna Chen<br>Corpus Scout</span>
            </div>
            <div class="col-3">
                <span>Maritza Gallegos<br>Data Sanitization Engineer</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Murray_Keith_Square.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Tran_Felix_Square.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Yen_Derek_Square.jpg')}}" />
            </div>
            <div class="col-3">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Zhi_Sophia_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <span>Keith Murray<br>Gutenberg Specialist</span>
            </div>
            <div class="col-3">
                <span>Felix Tran<br>Visualization Specialist</span>
            </div>
            <div class="col-3">
                <span>Derek Yen<br>Copyright and License</span>
            </div>
            <div class="col-3">
                <span>Sophia Zhi<br>Statistics Specialist</span>
            </div>
        </div>
        <!-- Analysis -->
        <h1 class="display-6">Analysis</h1>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Caragay_Emily_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/DaCosta_Howard_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Duan_Mingfei_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <span>Emily Caragay<br>Gender Studies Specialist</span>
            </div>
            <div class="col-4">
                <span>Howard DaCosta<br>Statistics Specialist</span>
            </div>
            <div class="col-4">
                <span>Mingfei Duan<br>Metadata Specialist</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Ismoldayeva_Assel_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Li_Michelle_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Merrill_Kelsey_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <span>Assel Ismoldayeva<br>Grammar Specialist</span>
            </div>
            <div class="col-4">
                <span>Michelle Li<br>Regular Expressions Specialist</span>
            </div>
            <div class="col-4">
                <span>Kelsey Merrill<br>History/Chronology Specialist</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Minsky_Charlotte_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Pan_Carol_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Sundaram_Shobhita_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <span>Charlotte Minsky<br>Analysis Project Manager</span>
            </div>
            <div class="col-4">
                <span>Carol Pan<br>Visualization Specialist</span>
            </div>
            <div class="col-4">
                <span>Shobita Sundaram<br>Digital Humanities Literature Specialist</span>
            </div>
        </div>
        <!-- Deployment -->
        <h1 class="display-6">Deployment</h1>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Boal_Alena_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Culbertson_Alena_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Itambo_Elsa_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <span>Elena Boal<br>Quality Assurance Engineer</span>
            </div>
            <div class="col-4">
                <span>Alena Culbertson<br>Visualization Specialist</span>
            </div>
            <div class="col-4">
                <span>Elsa Itambo<br>DevOps Engineer</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Redlon_Isaac_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/Xu_Katherine_Square.jpg')}}" />
            </div>
            <div class="col-4">
                <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                filename='graphics/portraits/York_Samantha_Square.jpg')}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <span>Isaac Redlon<br>Front End Web Developer</span>
            </div>
            <div class="col-4">
                <span>Kate Xu<br>Back End Web Developer</span>
            </div>
            <div class="col-4">
                <span>Samanatha York<br>Writer/Editor</span>
            </div>
        </div>
        <!-- Administration -->
            <h1 class="display-6">Administration</h1>
            <div class="row justify-content-center">
                <div class="col-4">
                    <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                    filename='graphics/portraits/Cuthbert_Michael_Square.jpg')}}" />
                </div>
                <div class="col-4">
                    <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                    filename='graphics/portraits/')}}" />
                </div>
                <div class="col-4">
                    <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                    filename='graphics/portraits/')}}" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <span>Michael Scott Cuthbert<br>Faculty Director of the Digital Humanities Lab and Associate Professor of Music</span>
                </div>
                <div class="col-4">
                    <span>Nicole Fountain<br>Administrative Assistant</span>
                </div>
                <div class="col-4">
                    <span>Bridget Johnson<br>Temporary Administrative Assistant</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                    filename='graphics/portraits/')}}" />
                </div>
                <div class="col-6">
                    <img class="portrait rounded mx-auto d-block" src="{{url_for('static',
                    filename='graphics/portraits/')}}" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <span>Stephan Risi<br>Postdoctoral Associate</span>
                </div>
                <div class="col-6">
                    <span>Lisa Tagliaferri<br>Postdoctoral Associate</span>
                </div>
            </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid content">
        <div class="row justify-content-start">
            <div class="col-2">
            </div>
            <div class="col-8 justify-content-center" align="center">
                <div class="topic-content">
                    <!-- Topic content assigned in convertMarkdown.js -->
                <div id="team-roles"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
