/* External assets */
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

/* Base HTML elements */

h1, h2, h3 {
    text-align: center;
}

div {
    font-family: "Sorts Mill Goudy";
}

div.main {
    padding: 10px, 0px, 0px, 0px;
    background-color: #FCF5E9;
}

body {
    background-color: #FCF5E9;

}

span {
    margin: auto;
    display: table;
    text-align: center;
    padding: 5px, 0px, 5px, 0px;
}

/* Base Bootstrap elements */

.display-6 {
    text-align: center;
}

/* Custom classes */

.header {
    background-color: #99BC78;
}

.header-text {
    color: black;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

.content {
    text-align: left;
}

.portrait {
    height: 200px;
    width: 200px;
}

/* Navbar */

.header-nav {
    background-color: #FCF5E9;
    margin-bottom: -1rem;
}

.nav-link {
    color: black !important;
}

a:hover {
    color: #99BC78 !important;
}

/* Topic content */

.topic-content img {
    height: auto;
    width: auto;
    max-height: 75%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

.footer {
    background-color: #34282C;
}

.mit-logo {
    height: 5vh;
    width: 10vw;
}

.github-text {
    color: white;
    margin-top: 1rem;
}

.github-logo {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}

@media screen and (min-width: 601px) {
    div.main {
        font-size: 20px;
    }
    h1.header-text {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    div.main {
        font-size: 25px;
    }
    h1.header-text {
        font-size: 100px;
    }
    h1 {
       font-size: 30px;
    }

    body {
        padding: 10px, 0px, 0px, 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        padding: 0px, 0px, 10px, 0px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }
}

