/* External assets */
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

/* Base HTML elements */

h1, h2, h3 {
    text-align: center;
}

body {
    font-size: large;
}

div {
    padding: 5px;
    font-family: "Sorts Mill Goudy";
}

span {
    margin: auto;
    display: table;
    text-align: center;
}

/* Base Bootstrap elements */

.display-6 {
    text-align: center;
}

/* Custom classes */

.header {
    background-color: #99BC78;
}

.header-text {
    color: black;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

.content {
    background-color: #FCF5E9;
    text-align: left;
}

.portrait {
    height: 200px;
    width: 200px;
}

/* Navbar */

.header-nav {
    background-color: #FCF5E9;
    margin-bottom: -1rem;
}

.nav-link {
    color: black !important;
}

a:hover {
    color: #99BC78 !important;
}

/* Topic content */

.topic-content img {
    height: auto;
    width: auto;
    max-height: 75%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

.footer {
    background-color: #34282C;
}

.mit-logo {
    height: 5vh;
    width: 10vw;
}

.github-text {
    color: white;
    margin-top: 1rem;
}

.github-logo {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}

