/* External assets */
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

/* Base HTML elements */

body {
    font-family: "Sorts Mill Goudy";
    font-size: large;
}

/* Custom classes */

.header {
    background-color: #D23641;
}

.header-text {
    color: black;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

.github-logo {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}

.content {
    background-color: #EAD3A8;
}

/* Topic content */

.topic-content img {
    height: auto;
    width: auto;
    max-height: 75%;
    max-width: 75%;
}

/* Sidebar */

.sidebar {
    position: fixed;
}

.topic-button {
    text-align: center;
}

.nav-link {
    background-color: transparent;
    color: black;
}

.nav-link.active.show {
    background-color: #34282C;
    color: white;
}

a:hover {
    color: black;
}
