.header {
    background-color: black;
}

.header-text {
    color: white;
    text-align: center;
}

.github-logo {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}

/* Converted markdown styling */
.topic-content h1 {
    font-family: Helvetica;
}
