/* Custom classes */

.header {
    background-color: black;
}

.header-text {
    color: white;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

.projects-button {
    /* MIT logo red */
    background-color: #A31F34;
    border: none;
    width: 20vw;
    height: 50vh;
}

.projects-button-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 10.5%;
}

.preview-text {
    width: 30vw;
    height: 50vh;
}

/* Custom IDs */

#wip {
    font-size: 30px;
    font-family: Helvetica;
    font-style: italic;
}
